#
# The MySQL database server configuration file.
#
# You can copy this to one of:
# - "/etc/mysql/my.cnf" to set global options,
# - "~/.my.cnf" to set user-specific options.
# 
# One can use all long options that the program supports.
# Run program with --help to get a list of available options and with
# --print-defaults to see which it would actually understand and use.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

#
# * IMPORTANT: Additional settings that can override those from this file!
#   The files must end with '.cnf', otherwise they'll be ignored.
#

!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mysql.conf.d/

[mysqld]
# commit毎のログへの書き込み量
innodb_flush_log_at_trx_commit = 0
# デフォルトだとInnoDB にすべてのデータが2回書き込まれる
innodb_doublewrite = 0
# 秒単位でどの程度バックグラウンド処理を行うか（微妙）
# innodb_io_capacity = 2048
# 上記と同じ値にすべき（微妙）
# innodb_lru_scan_depth = 2048
# メモリにロードされるデータとインデックスのために使うメモリ量
innodb_buffer_pool_size = 1280M
# 各テーブルのデータおよびインデックスがシステムテーブルスペースではなく、個別の .ibd ファイルに格納される
innodb_file_per_table = ON
# スレッドキャッシュ保持最大数（微妙）
# thread_cache_size = 100
# OSのファイルシステムとのダブルキャッシュを避ける（微妙）
# innodb_flush_method = O_DIRECT
# log file 全体のサイズ（微妙）
# innodb_log_file_size = 256M
# クエリキャッシュ（今回は高負荷かつそこまで同じクエリがつかわれる可能性が高いわけでもないので微妙そう）
# クエリキャッシュ最大サイズ
# query_cache_limit = 1M
# クエリキャッシュで使用するメモリサイズ
# query_cache_size = 16M
# クエリキャッシュのタイプ
# query_cache_type = ON